Manual Rental Listing input:

<form action="/form" method="post">
  <input type="text" name="asking">
  <input type="text" name="bedrooms">
  <input type="text" name="location">
  <input type="text" name="address">
  <input type="submit">
</form>